.alma_fee_plan {
	padding-left: 6px;
	border-left: solid 2px lightgrey;
}
h3.alma_fee_plan {
	padding-top: 15px;
	padding-bottom: 15px;
}
div.alma_fee_plan,
.woocommerce table.form-table.alma_fee_plan
{
	margin-top: -15px;
}
.woocommerce table.form-table.alma_fee_plan tr:first-child th {
	padding-top: 35px;
}
@media(max-width: 782px) {
	.woocommerce table.form-table.alma_fee_plan th,
	.woocommerce table.form-table.alma_fee_plan td {
		padding-left: 6px;
		border-left: solid 1px lightgrey;
	}
	.woocommerce table.form-table.alma_fee_plan,
	.alma_fee_plan {
		margin-left: 36px;
	}
}
@media(min-width: 783px) {
	.woocommerce table.form-table.alma_fee_plan tr:first-child td {
		padding-top: 30px;
	}
	.woocommerce table.form-table.alma_fee_plan th {
		padding-left: 6px;
		border-left: solid 2px lightgrey;
	}
	.woocommerce table.form-table.alma_fee_plan,
	.alma_fee_plan {
		margin-left: 236px;
	}
}
div.ui-state-active.alma_option_enabled,
.alma_option_enabled {
	font-weight: bold;
}
div.ui-state-active.alma_option_disabled,
.alma_option_disabled {
	font-weight: lighter;
	font-style: italic;
}

a#add_title_translation {
	display:inline-block;
	width:auto;
	height:20px;
	line-height:20px;
	border-radius:10px;
	background:#ccc;
	text-align:center;
	margin-left:7px;
	margin-top:0;
	text-decoration:none;
	padding:5px 12px;
}
select.list_lang_title {
	width:auto !important;
	line-height:28px !important;
}
tr.tr_title_translation {
	background-color:#ccc;
}
	tr.tr_title_translation th {
		padding-top:1px !important;
		padding-bottom:1px !important;
	}
	tr.tr_title_translation td {
		padding-top:7px !important;
		padding-bottom:3px !important;
	}














